<launch>

  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="multi_robot_name" default=""/>

  <!-- Init pose -->
  <arg name="x_pos" default="-0.2"/>
  <arg name="y_pos" default="1.6"/>
  <arg name="z_pos" default="0"/>
  <arg name="yaw_pos" default="3.14"/>

  <!-- PID controller parameters -->
  <arg name="Kp" default="0.2"/>
  <arg name="Ki" default="0"/>
  <arg name="Kd" default="0.2" />

  <!-- Line color -->
  <arg name="lower_HSV" default="[20, 100, 100]" />
  <arg name="upper_HSV" default="[50, 255, 255]" />

  <!-- Line center shift -->
  <arg name="line_center_shift" default="0" />
  
    <!-- April tag family -->
  <arg name="tag_family" default="tag36h11" />

  <!-- Default linear speed -->
  <arg name="linear_x" default="0.05"/>


  <!-- Load Burger description -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <!--<include file="$(find turtlebot3_bringup)/launch/includes/description.launch.xml">
    <arg name="model" value="$(arg model)" />
  </include>-->

  <!-- Obstacle Avoidance node -->
  <node pkg="aue_finals" type="obstacle_avoidance_real.py" name="obstacle_avoidance">
    <param name="linear_x" value="$(arg linear_x)" />
  </node>

  <!-- Line Detection node -->
  <node pkg="aue_finals" type="line_detection_real.py" name="line_detection">
    <param name="Kp" value="$(arg Kp)"/>
    <param name="Ki" value="$(arg Ki)"/>
    <param name="Kd" value="$(arg Kd)" />
    <param name="lower_HSV" value="$(arg lower_HSV)" />
    <param name="upper_HSV" value="$(arg upper_HSV)" />
    <param name="line_center_shift" value="$(arg line_center_shift)" />
  </node>

  <!-- Stop sign detection node -->
  <node pkg="aue_finals" type="stop_sign_detection_cv_real.py" name="stop_sign_detection" />

   <!-- april tag detection node -->
  <node pkg="aue_finals" type="apriltag_detection_real.py" name="apriltag_detection">
    <param name="Kp" value="$(arg Kp)"/>
    <param name="Ki" value="$(arg Ki)"/>
    <param name="Kd" value="$(arg Kd)" />
    <param name="linear_x" value="$(arg linear_x)" />
    <param name="tag_family" value="$(arg tag_family)" />
  </node>

  <!-- Main controller -->
  <node pkg="aue_finals" type="main_controller_real.py" name="main_controller">
    <param name="linear_x" value="$(arg linear_x)" />
  </node>

</launch>
