<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="multi_robot_name" default="" />

  <!-- Work mode -->
  <arg name='work_mode' default="simulation" />

  <!-- Init TurtleBot3 pose -->
  <arg name="x_pos" default="-0.2"/>
  <arg name="y_pos" default="1.6"/>
  <arg name="z_pos" default="0"/>
  <arg name="yaw_pos" default="3.14"/>

  <!-- Parameters for obstacle avoidance -->
  <arg name="turtlebot_width" default="0.18" />
  <arg name="max_lidar_range" default="3.5" />
  <arg name="obstacle_distance_threshold" default="0.5" />
  <arg name="theta_goal" default="0" />
  <arg name="gamma" default="5" />
  <arg name="param_proportional_control" default="50" />


  <!-- Parameters for line following-->
  <arg name="Kp" default="0.2"/>
  <arg name="Ki" default="0.008"/>
  <arg name="Kd" default="0.2" />
  <arg name="lower_HSV" default="[20, 100, 100]" />
  <arg name="upper_HSV" default="[50, 255, 255]" />
  <arg name="line_center_shift" default="50" />

  <!-- Parameters for stop sign detection -->
  <arg name="area_threshold" default="3300" />
  <arg name="stop_delay" default="18" />

  <!-- Parameters for April tag detection -->
  <arg name="tag_family" default="tag36h11" />
  <arg name="tag_area_threshold" default="10000" />

  <!-- Default linear speed -->
  <arg name="linear_x" default="0.05"/>

  <!-- Load world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find aue_finals)/worlds/turtlebot3_final.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Load Burger description -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <!-- Load Burger in Gazebo -->
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg yaw_pos) -param robot_description" />

  <!-- Obstacle Avoidance node -->
  <node pkg="aue_finals" type="obstacle_avoidance.py" name="obstacle_avoidance">
    <param name="work_mode" value="$(arg work_mode)" />
    <param name="linear_x" value="$(arg linear_x)" />
    <param name="turtlebot_width" value="$(arg turtlebot_width)" />
    <param name="max_lidar_range" value="$(arg max_lidar_range)" />
    <param name="obstacle_distance_threshold" value="$(arg obstacle_distance_threshold)" />
    <param name="theta_goal" value="$(arg theta_goal)" />
    <param name="gamma" value="$(arg gamma)" />
    <param name="theta_goal" value="$(arg theta_goal)" />
  </node>

  <!-- Line Detection node -->
  <node pkg="aue_finals" type="line_detection.py" name="line_detection">
    <param name="work_mode" value="$(arg work_mode)" />
    <param name="Kp" value="$(arg Kp)"/>
    <param name="Ki" value="$(arg Ki)"/>
    <param name="Kd" value="$(arg Kd)" />
    <param name="lower_HSV" value="$(arg lower_HSV)" />
    <param name="upper_HSV" value="$(arg upper_HSV)" />
    <param name="param_proportional_control" value="$(arg param_proportional_control)" />
  </node>

  <!-- Stop sign detection node -->
  <node pkg="aue_finals" type="stop_sign_detection_cv.py" name="stop_sign_detection">
    <param name="work_mode" value="$(arg work_mode)" />
  </node>

  <!-- april tag detection node -->
  <node pkg="aue_finals" type="apriltag_detection.py" name="apriltag_detection">
    <param name="work_mode" value="$(arg work_mode)" />
    <param name="linear_x" value="$(arg linear_x)" />
    <param name="tag_family" value="$(arg tag_family)" />
    <param name="tag_area_threshold" value="$(arg tag_area_threshold)" />
  </node>

  <!-- Main controller -->
  <node pkg="aue_finals" type="main_controller.py" name="main_controller">
    <param name="work_mode" value="$(arg work_mode)" />
    <param name="linear_x" value="$(arg linear_x)" />
    <param name="area_threshold" value="$(arg area_threshold)" />
    <param name="stop_delay" value="$(arg stop_delay)" />
  </node>

</launch>
